.form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap:30px;
  padding: 50px;

  .formHeader{
    font-size: 32px;
    font-weight: 400;
  }

  .button {
    width: 150px;
    height: 50px;

    .submit {
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background: #0156ff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      border: none;
    }
  }
}
