.cardBody {
    width: 250px;
    height: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
    align-items: center;
    row-gap: 15px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 0;

    .statusInStock {
        height: fit-content;
        display: flex;
        align-self: flex-start;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        padding: 5px 0 0 25px;
        font-size: 10px;
        width:100%;
        font-weight:bolder;



        .delete{
            align-self: flex-end;
            color:#c84d3f;
            font-size: 20px;
        }
    }

    .cardPicture {
        height: 150px;
        width: 150px;
    }

    .feedbackContainer {
        display: flex;
        align-self: flex-start;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        .stars {
            width: 75px;
            height: 15px;
            padding: 0 0 0 5px;
            font-size: 14px;
            font-weight: bolder;
        }

        .reviews {
            font-size: 12px;
            color: #a1a5af;
            font-weight: 400;
            cursor: pointer;
        }
    }

    .productName {
        width: 185px;
        height: 65px;
        overflow: hidden;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        line-height: 1.5;
    }

    .productPrice {
        align-self: flex-start;
        font-weight: 600;
        font-size: 18px;
        padding: 0 0 0 25px;
    }

    .lowLevel{
        display: flex;
        align-self: center;
        flex-flow: row nowrap;
        justify-content: space-between;
        width:100%;

        .addDiv{
            color: #0156ff;
            font-weight: bolder;
            font-size: 12px;
        }

    }


}
