.serviceCardBody {
    height: 200px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    column-gap: 20px;
    border-radius: 31px;

    .photo {
        width: 150px;
        height: 150px;
    }

    .serviceDescription {
        height: 200px;
        flex: 1 1 auto;
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        row-gap: 10px;

        .serviceHeader{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;

            .serviceName {
                font-size: 18px;
                font-weight: 600;
            }

            .status{
                width:100px;
                height:20px;
                background: #a1a5af;
            }
        }
        .contacts{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
            row-gap: 5px;

            .pText{
                font-size: 14px;
                opacity:0.5;
            }
        }



    }
}
