.newsLetterSub{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  height:fit-content;
  min-height:100px;
  color: #222222;
  font-size: 14px;
  padding: 10px 0 10px 0;
  .header{
    color: #212121;
    font-size: 20px;
  }

  .line{
    width: 99%;
  }

  .checkboxContainer{
    width:99%;
    height:fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0 10px 0;
  }

}