.resetPasswordPage{
  min-height: 20vh;
  height: fit-content;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  .formContainer{
    width: 600px;
    height:fit-content;
    background: #f4f6fe;
    margin:50px 0 50px 0;
    border-radius: 40px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }
}