.recoverPasswordPage{
    min-height: 20vh;
    height: fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 20px;

    .formContainer{
      width: 600px;
      min-height: 600px;
      height:fit-content;
      background: #f4f6fe;
      margin:50px 0 50px 0;
      box-sizing: border-box;
      display:flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      gap:10px;

      .header {
        font-size: 18px;
      }

      .instruction{
        width:80%;
        font-size: 14px;
        text-align: center;
      }

      .img{
        width: 50px;

      }
    }

}