@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');

.inputGroup {
    position: relative;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.labelLight,
.labelDark,
{
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    text-transform: capitalize;
    pointer-events: none;
    font-size: 14px;
    transition: all 0.3s;
}

.inputGroup .inputBlack, .inputGroup .inputLight{
    padding: 18px 15px;
    width: 400px;
    outline: none;
    font-size: 14px;
    font-family: inherit;
    background-color: transparent;
    border-radius: 4px;
}

.inputGroup .inputBlack{
    border: 2px solid #212121;
    color: #212121;
}

.inputGroup .inputLight{
    border: 2px solid #fff;
    color: #fff;
}

.labelLight{
    background: #f4f6fe;
    color: #020202;
}

.labelDark{
    background-color: #020203;
    color: #ffffff;
}

.inputGroup .inputBlack:focus + .labelDark,
.inputGroup .inputLight:focus + .labelDark,
.inputGroup .inputBlack:focus + .labelLight,
.inputGroup .inputLight:focus + .labelLight,
{
    top: 0;
    font-size: 14px;
}
