/*общий шаблон*/
.myFlex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*общий контейнер*/
.area{
    composes: myFlex;
    max-width: 600px;
    height:90vh;
    flex-flow: column nowrap;
}

/*зона заказа*/
.orderArea{
    composes: myFlex;
    row-gap: 40px;
    width: 600px;
    padding: 0 16px 0 16px;
    flex-flow: column nowrap;
}


.order{
    composes: myFlex;
    flex-flow: column nowrap;
    margin: 100px 0 0 0;
    width:600px;
    height: 60vh;
    composes: myFlex;
    justify-content: flex-start;
    overflow: auto;
    row-gap:16px;
    scrollbar-width: thin;
    scrollbar-color: #8484ac #2f2f37;

}

/*цена*/
.price{
    composes: myFlex;
    height: fit-content;
    width: 100%;
    justify-content: flex-end;
    column-gap: 40px;
}

/*зона вывода цены*/
.priceArea{
    composes: myFlex;
    column-gap: 8px;
}


/*для дизайна скролл-бара*/
.middle::-webkit-scrollbar{
    width: 8px;
}

.middle::-webkit-scrollbar-track{
    background: #8484ac;
}

.middle::-webkit-scrollbar-thumb{
    background: #8484ac;
}

/*блок позиции продукта*/
.position{
    composes: myFlex;
    background: #cbcbcb;
    border-radius: 30px;
    height: 100px;
    width: 536px;

}

.buttonDiv{
    padding: 0 40px 0 0;
}

.headerText{
    font-family: 'JetBrains Mono', monospace;
    width:350px;
    color: #262629;
    font-weight: bold;
    font-size: 16px;
}

.posBlock{
    composes: myFlex;
    justify-content: flex-start;
    width: 95%;
    height:90px;
    border-radius: 30px;
    column-gap: 10px;
}

/*обёртка для крайних элементов*/
.edgeElement{
    composes: myFlex;
    padding: 0 0 0 32px;
}

/*обёртка для центральных элементов*/
.middleElement{
    composes: myFlex;
    padding: 0 0 0 32px;
    flex: 1 1 auto;
    width:536px;
}

/*блок-ограничитель*/
.dragClass{
    composes: myFlex;
    height: fit-content;
    margin: 0 10px 0 10px;

}


/*для компонентов */
.dragClass > svg {
    width:24px;
    height: 24px;
    cursor:pointer;
}


.photoBlock{
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

/*В проекте*/
/*@media screen and (max-width: 1400px){*/

/*    .middle {*/
/*        width: 98vw;*/
/*    }*/

/*    .area{*/
/*        width:98vw;*/

/*    }*/
/*}*/
/*В проекте*/
/*@media screen and (max-width: 600px){*/
/*    .middle {*/
/*        width: 90vw;*/
/*    }*/
/*    .area{*/
/*        width:90vw;*/

/*    }*/
/*    .constructor-element {*/
/*        padding:0;*/
/*        min-width: 95%;*/
/*    }*/


/*}*/