.flexModel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}


.field{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height:95vh;
    width:100%;
    background: #ffffff;
}
.formArea{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width:700px;
    height:500px;
    border: 2px solid #262629;
    border-radius: 30px;
    row-gap: 30px;
}

.inputs{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
}

.inputsSuccess{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 10vh;
}

.formArea > .inputs > h1{
    color:  #262629;
    font-size: 40px;
}

.formArea >  button{
    width:200px;
    cursor:pointer;
    height: 50px;
    background: #241e36;
    color:#cccccc;
    font-size: 14px;
    /*font-weight: bold;*/
    border:none;
    border-radius: 30px;
    transition: 1s;
}

.text {
    color: #241e36;
    font-size: 24px;
    font-weight: bold;

}



.regText {
    color: #241e36;
    font-size: 18px;
    font-weight: bold;
    cursor:pointer;
}


.formArea > button:hover{
    transition: 1s;
    background: #cccccc;
    color: #241e36;
    border: 1px solid #2f2f37;
}

.formArea > .inputs > .inputContainer > input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    padding:0 0 0 10px;
    font-weight: bold;
}
.formArea > .inputs > .inputContainer > p{
    color: #241e36;
    font-size: 18px;
    font-weight: bold;
}



.done{
    composes:flexModel;
    width: 100px;
    height:100px;
    background: #241e36;
    border-radius: 50%;
}

.doneMini{
    composes:flexModel;
    width: 80px;
    height:80px;
    background: #2b223d;
    border-radius: 50%;
}

.doneDiv > svg{
    width:40px;
    height:40px;

}