.cart{
  min-height: 30vh;
  width:100%;
  display: flex;
  flex-flow: column nowrap ;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  box-sizing: border-box;

  .cartHeader{
    font-size: 24px;
    font-weight: bolder;
    padding:20px 0 0 20px;
  }

  .goodContainer{
    width: 1440px;
    height: fit-content;
    min-height: 200px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
  }


  .lowLevel{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
    padding:0 0 100px 0;
    width:1440px;
    box-sizing: border-box;

    .totalPrice{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      align-self: center;
      padding:0 100px 0  0;
      font-weight: bolder;
      font-size: 24px;
    }

    .button{
      width:150px;
      height:50px;
    }
  }

}

select {
  margin: 15px 100px 0 0;
}