.field{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height:95vh;
    width:100%;
    background: #ecedef;
}
.formArea{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width:700px;
    height:500px;
    border: 2px solid #262629;
    border-radius: 30px;
    row-gap: 2vw;
}

.formArea > h1{
    color:  #262629;
    font-size: 40px;
}

.formArea > button{
    width:200px;
    cursor:pointer;
    height: 50px;
    background: #8484ac;
    color:#cccccc;
    font-size: 18px;
    font-weight: bold;
    border:none;
    border-radius: 30px;
    transition: 1s;
}

.text {
    color:#cccccc;
    font-size: 18px;
    font-weight: bold;

}

.regText {
    color: #241e36;
    font-size: 18px;
    font-weight: bold;

}




.formArea > button:hover{
    transition: 1s;
    background: #cccccc;
    color: #241e36;
    border: 1px solid #2f2f37;
}

.formArea > .inputContainer > input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    padding:0 0 0 10px;
    font-weight: bold;
}
.formArea > .inputContainer > p{
    color: #241e36;
    font-size: 18px;
    font-weight: bold;
}